{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= pro_review Section ======= -->
  <section id="pro_review" class="pro_review section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up">
          <div class="pro_review-item">
            <img src=" {% static  "images/test/1.jpg" %} " class="pro_review-img" alt="">
            <h3>Hannah Monney</h3>
            <h4>CEO , Google</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              We believe this project will give the world the push it needs.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="pro_review-item mt-4 mt-lg-0">
            <img src="  {% static  "images/test/2.jpg" %}" class="pro_review-img" alt="">
            <h3>John Dawnson</h3>
            <h4>Philanthropist</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Balance is everything, a perfect development is only possible when technlogy and environment both sustain.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="pro_review-item mt-4">
            <img src=" {% static  "images/test/3.jpg" %}" class="pro_review-img" alt="">
            <h3>Rob Marty</h3>
            <h4>Writer/ Poet</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              For many a people throw their garbage, nobody cares about the deadly traps it lays.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="pro_review-item mt-4">
            <img src=" {% static  "images/test/4.jpg" %}" class="pro_review-img" alt="">
            <h3>Bran Antony</h3>
            <h4>CEO, Arab Tech</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              To grow as a society is most important, for brothers and sisters cannot unite without joining hands.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="pro_review-item mt-4">
            <img src=" {% static  "images/test/5.jpg" %}" class="pro_review-img" alt="">
            <h3>Emilia Jonis</h3>
            <h4>Entrepreneur</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Finance is spreading of resources, and better finance is the key to development.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
          <div class="pro_review-item mt-4">
            <img src=" {% static  "images/test/6.jpg" %}" class="pro_review-img" alt="">
            <h3>George Fisher</h3>
            <h4>Owner, AgroTech Co.</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I would rather but the organic products than the ones with over nutrition in them.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

      </div>

    </div>
    
  </section><!-- End pro_review Section -->
  <section class = "buhaha">
  Here are the links to our works:<br/>
  <a href = "child.html"> Child </a><br/>
  <a href = "social.html"> Social Cause </a><br/>
  <a href = "ecology.html"> Ecology And Disaster </a><br/>
  <a href = "agriculture.html"> Agriculture </a><br/>

  </section>
</main>
{% endblock content %}