{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Donate</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Donation</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="box">
            <h3>Child</h3>
            <span class="advanced">Priority</span>
            <h4>Clothes/Food<br/>/Money</h4>
            <ul>
              <li>Labour against children</li>
              <li>Child marriage</li>
              <li>Hungry Children</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Donate</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured">
            <h3>Social Cause</h3>
            <h4>Currency/<br/>Manpower</h4>
            <ul>
              <li>Human Rights</li>
              <li>Discrimination</li>
              <li>Women Empowerment</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Donate</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box ">
            <h3>Ecology and Crisis</h3>
            
            <h4>Conservation/<br/>Aid</h4>
            <ul>
              <li>Organic Product Favorism</li>
              <li>Eco-friendly environment</li>
              <li>Disaster relief programmes</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Donate</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box featured">
            <h3>Agriculture</h3>
            <h4>Research/<br/>Learning</h4>
            <ul>
              <li>Seed improvement</li>
              <li>Local market</li>
              <li>Agricultural supervision</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Donate</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How do you take care of children ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                First of all we fight against children abuses such as Child labor and buying selling of children.Other factors include stopping child marraige and supporting children who cannot feed themselves properly or study. 
               </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Are you working on an orphanage? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, we are working on orphanage. The orphanage is to be taken on two floors with 4 rooms on each floor. A seperate canteen is to be placed for each meal time, and we are also working on opening a low-cost montessary school after the orphanage.
               </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How do you promote social service? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                  Society is a must for anone, whether people or animals. In society we learn to co-exist, so it is important for us to work combined and so that no one has to face a crisis alone. When anyone gets into troubled situation whether it is caused by social issues such as discrimination or natural crisis such as landslide/ flood, we consider to offer help as a fellow human being.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Are all of your products organic? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                  100%. All of our process, not only products are organic. We have our own cow farm and mushroom field, which help us produce our own manure. The seeds we produce are sure to be better grown products than your average market seeds if taken care of properly.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed"> Do you have any other works you need to mention? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                      Reasearch is a primary section we are intending to watch over. There is also bio-technological experiments we are going to carry out once the reasearch fund budget is met.
              </p>
            </div>
          </li>

        </ul>
      </div>
      <h1>
      Send your Questions to us:
      </h1>
      <div class="col-lg-4 info mt-4 mt-lg-0" ><a href="">
                <i class="bi bi-envelope" ></i>
                <h5>Email:bomshambo@gmail.com</h5>
                <p></p>
      </a>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
{% endblock content %}